<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true"
      throwExceptions="false">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  
  <targets>
    <target xsi:type="File" name="fileTarget"  
            fileName="E:\A new start\dot net 5\ExceptionLog\CustomLogAdvance\LogFiles\${shortdate} Log.log"
            layout="${longdate} ${gdc:item=Author} ${uppercase:${level}} ${callsite} ${message} |url: ${aspnet-request-url}|action: ${aspnet-mvc-action}| body: ${aspnet-request-posted-body} ${newline}">
      
    </target>
    <target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate} ${gdc:item=Author} ${uppercase:${level}} ${stacktrace} ${message} ${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
  </rules>
</nlog>